/*
SpatioAPI

The REST API that owns every resource in your Spatio workspace — notes, sheets, slides, tasks, calendar events, mail, chat, files, and contacts. SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it directly from your own code.  All requests must be authenticated with a Personal Access Token (`Authorization: Bearer pat_...`) and use HTTPS.  This specification is generated from the platform-service Go source on every push to `main`. The spec — not hand-written documentation — is the source of truth: server stubs and SDKs are generated from it, and any drift between the spec and the running service fails CI. 

API version: v1
Contact: hello@spatio.app
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package spatio

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// RealtimeAPIService RealtimeAPI service
type RealtimeAPIService service

type ApiIssueCollaborationTokenRequest struct {
	ctx context.Context
	ApiService *RealtimeAPIService
	issueCollaborationTokenRequest *IssueCollaborationTokenRequest
}

func (r ApiIssueCollaborationTokenRequest) IssueCollaborationTokenRequest(issueCollaborationTokenRequest IssueCollaborationTokenRequest) ApiIssueCollaborationTokenRequest {
	r.issueCollaborationTokenRequest = &issueCollaborationTokenRequest
	return r
}

func (r ApiIssueCollaborationTokenRequest) Execute() (*IssueCollaborationToken200Response, *http.Response, error) {
	return r.ApiService.IssueCollaborationTokenExecute(r)
}

/*
IssueCollaborationToken Exchange a bearer token for a short-lived Yjs collaboration JWT.

The Yjs Cloudflare Worker that powers live document
collaboration (`wss://realtime-collaboration.<account>.workers.dev`)
only accepts platform-signed JWTs. Third-party clients holding
an OAuth access token or PAT call this endpoint to mint a
5-minute collaboration JWT they can present to the worker.

The minted JWT inherits user + workspace identity from the
presenting bearer token. Optionally scope it to a single room
by supplying `room` in the request body.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIssueCollaborationTokenRequest
*/
func (a *RealtimeAPIService) IssueCollaborationToken(ctx context.Context) ApiIssueCollaborationTokenRequest {
	return ApiIssueCollaborationTokenRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IssueCollaborationToken200Response
func (a *RealtimeAPIService) IssueCollaborationTokenExecute(r ApiIssueCollaborationTokenRequest) (*IssueCollaborationToken200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IssueCollaborationToken200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RealtimeAPIService.IssueCollaborationToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/realtime/collaboration-token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.issueCollaborationTokenRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
