openapi: 3.0.3
info:
  contact:
    email: hello@spatio.app
    name: Spatio Support
    url: https://spatio.app
  description: |
    The REST API that owns every resource in your Spatio workspace: notes,
    sheets, slides, tasks, calendar events, mail, chat, files, and contacts.
    SpatioMCP wraps this API; Spatio Desktop reads from it. You can call it
    directly from your own code.

    All requests must be authenticated with a Personal Access Token
    (`Authorization: Bearer pat_...`) or an OAuth 2.1 access token, and use HTTPS.

    Official SDKs (MIT, generated from this spec on every release):

    - TypeScript: https://github.com/spatio-labs/spatio-ts (`npm install @spatio/sdk-ts`)
    - Python: https://github.com/spatio-labs/spatio-py (`pip install spatio-sdk`)
    - Go: https://github.com/spatio-labs/spatio-go (`go get github.com/spatio-labs/spatio-go`)

    This specification is generated from the platform-service Go source on
    every push to `main`. The spec, not hand-written documentation, is the
    source of truth: server stubs and SDKs are generated from it, and any
    drift between the spec and the running service fails CI.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: SpatioAPI
  version: v1
servers:
- description: Production
  url: https://api.spatio.app
security:
- bearerAuth: []
tags:
- description: "Markdown notes, blocks, comments, and public share links."
  name: Notes
- description: "Spreadsheets, rows, and cells."
  name: Sheets
- description: "Presentations, slides, canvas elements, sharing, and PDF export."
  name: Slides
- description: "To-dos, reminders, and issues with comments + bulk operations."
  name: Tasks
- description: "Email — send/reply, list/get/update/delete, threads, attachments,\
    \ drafts, labels, search."
  name: Mail
- description: "Calendar events with recurrence, attendees, reminders, conference\
    \ data, and provider sync."
  name: Calendar
- description: Group chat channels (Slack-style). Backed by the shared messaging engine;
    sibling of DirectMessages.
  name: Channels
- description: "1:1 and group direct messages with reactions, threads, mute/pin/draft\
    \ state, attachments, and search."
  name: DirectMessages
- description: "Files + folders across connected providers (native R2 storage, Google\
    \ Drive, Dropbox). Supports multipart and base64 upload, chunked content-addressed\
    \ uploads, bulk operations, search, and PDF text extraction."
  name: Files
- description: "Organizations, their members, and invitation flow. Organizations contain\
    \ workspaces; seat counts roll up to billing."
  name: Organizations
- description: Workspaces and their members. Workspaces live inside organizations
    and are the unit of resource scoping for Personal Access Tokens.
  name: Workspaces
- description: |
    Account-level endpoints — billing tier, quotas, today's usage,
    free-trial agent-task gating, and security (sign-in methods,
    password change, active sessions).
  name: Account
- description: "Persisted LLM conversations (titles, messages, metadata) used by the\
    \ agent + sidebar chats."
  name: Conversations
- description: "Unified inbox feed across mail, channels, DMs, mentions, and system\
    \ notifications."
  name: Inbox
- description: Agent-authored proposals that surface on the home feed.
  name: Recommendations
- description: |
    Agent configuration management (`/v1/agents`) plus agent
    runtime endpoints (`/v1/agent/*`) — conversations,
    action execution, session-context bundle.
  name: Agents
- description: |
    Action manifest + renderer-curated "core actions" backing the
    command palette and key bindings.
  name: Actions
- description: User-customizable keyboard shortcuts merged with platform defaults.
  name: Keybindings
- description: "Voice/video calls — meetings, rooms, recordings, bandwidth metrics."
  name: Calls
- description: Cross-provider contacts and org-scoped contact categories.
  name: Contacts
- description: Org-scoped record types + records (lightweight CRM-style entities).
  name: Records
- description: User-issued API tokens (PATs) used to authenticate against this API.
  name: PersonalAccessTokens
- description: Saved scheduled-agent templates (routines) and their execution runs.
  name: Routines
- description: "Locally-built prototype apps rendered in an Electron <webview>, with\
    \ project-scoped file ops."
  name: Apps
- description: Email folders (inbox-side organization).
  name: Folders
- description: Native + OAuth integrations and the multi-account directory backing
    them.
  name: Connections
- description: "Code repository platform — native Spatio repos plus connected providers\
    \ (GitHub, GitLab, …). Repos, pull requests, issues, branches, commits, workflows."
  name: Repo
- description: LLM model catalog (admin-managed).
  name: Models
- description: Spatio's first-party native DM messaging (`/v1/native/dm/*`). Distinct
    from the cross-provider `/v1/direct-messages` directory.
  name: NativeDM
- description: "User-level + workspace-level settings, including the mail-read-receipts\
    \ preference and the bulk-update endpoint."
  name: Settings
- description: Per-user notification preferences (the dispatcher's toggle grid).
  name: Notifications
- description: "Terminal session metadata (PTY bytes flow over IPC, not this API)."
  name: Terminal
- description: "Per-resource ACL grants — `/v1/resources/{platform}/{resourceId}/permissions/*`."
  name: Resources
- description: "Installable-platform catalog, manifest discovery, data plane (query/exec/migrate/tables),\
    \ secrets, and backend tokens."
  name: Platforms
- description: Sidebar/navigation tree the renderer uses to render its surface.
  name: Navigation
- description: "Renderer-driven endpoints — bootstrap, slug validation, layout, pinned\
    \ platforms, user permissions/profile, workspace activity."
  name: Misc
- description: Domain/email logo lookups (CDN-cached).
  name: Logos
- description: |
    OAuth 2.1 + OpenID Connect 1.0 authorization server. Third-party
    apps register here, redirect users through the consent flow, and
    receive access tokens (and id_tokens when `openid` scope is
    granted). See packages/api-spec/CLONE-PARITY.md for the
    clone-builder perspective.
  name: OAuth
- description: |
    WebSocket-adjacent REST endpoints (token exchange for the Yjs
    collaboration worker). The `/ws` hub itself is documented in
    `docs/realtime.md` because OpenAPI 3.0 cannot describe
    websockets natively.
  name: Realtime
- description: |
    Cross-platform federated full-text search. Fans out to every
    per-platform search method in parallel.
  name: Search
paths:
  /v1/notes:
    get:
      description: |
        Fan-out list. Returns every note visible to the caller across
        every connected notes provider, paginated by `limit` / `offset`.
        Pass `?accountId=` or `?provider=` to scope to a single source.
      operationId: listNotes
      parameters:
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Provider id (e.g. `native-notes`, `notion`). Selects every
          connected account for the provider. Mutually exclusive with
          `accountId`.
        explode: true
        in: query
        name: provider
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "When `true`, return archived notes instead of active ones."
        explode: true
        in: query
        name: archived
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter to notes nested under this parent note id.
        explode: true
        in: query
        name: parent_id
        required: false
        schema:
          type: string
        style: form
      - description: Repeatable. Filter to notes carrying every tag listed.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Max items to return. Defaults to 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: |
          Sort field. Provider-dependent; the native provider supports
          `updated_at`, `created_at`, `title`.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: updated_at
          type: string
        style: form
      - explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NoteListEnvelope"
          description: Fan-out envelope.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resolver or fan-out failure.
      summary: List notes across connected accounts.
      tags:
      - Notes
    post:
      description: |
        Creates a new note under the target account. The target is
        resolved in this order: `accountId` field on the body →
        `?accountId=` query → `provider` field on the body →
        `?provider=` query → the caller's single connected account
        (errors with `ambiguous_account` if more than one is connected
        and no selector is supplied).
      operationId: createNote
      parameters:
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Provider id (e.g. `native-notes`, `notion`). Selects every
          connected account for the provider. Mutually exclusive with
          `accountId`.
        explode: true
        in: query
        name: provider
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNoteRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
          description: Note created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNote_400_response"
          description: |
            Invalid body, or no selector supplied with multiple connected
            accounts (`code: ambiguous_account`), or no notes provider
            connected (`code: no_notes_provider`).
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Provider failure.
      summary: Create a note.
      tags:
      - Notes
  /v1/notes/{id}:
    delete:
      operationId: deleteNote
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFlag"
          description: Success ack.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Note not found.
      summary: Delete a note.
      tags:
      - Notes
    get:
      operationId: getNote
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
          description: The note.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNote_400_response"
          description: Missing id or ambiguous account.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Note not found (`code: note_not_found`)."
      summary: Fetch one note.
      tags:
      - Notes
    patch:
      operationId: updateNote
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNoteRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
          description: The updated note.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid body or missing id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Note not found.
      summary: Update a note (partial).
      tags:
      - Notes
  /v1/notes/{id}/blocks:
    get:
      description: |
        Returns the block tree for a note, paginated. Block listing
        always targets a single account (the one that owns the note) so
        it does not fan out — the response is a plain `{ blocks, total }`.
      operationId: listBlocks
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      - description: |
          Filter to children of this block id. Omit to list root-level
          blocks.
        explode: true
        in: query
        name: parent_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockListResponse"
          description: Block list.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Note not found.
      summary: List blocks under a note.
      tags:
      - Notes
    post:
      operationId: createBlock
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBlockRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Block"
          description: Block created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid body or missing id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Note not found.
      summary: Insert a block in a note.
      tags:
      - Notes
  /v1/notes/blocks/{id}:
    delete:
      operationId: deleteBlock
      parameters:
      - description: Block id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFlag"
          description: Success ack.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Block not found.
      summary: Delete a block.
      tags:
      - Notes
    get:
      operationId: getBlock
      parameters:
      - description: Block id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Block"
          description: The block.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Block not found.
      summary: Fetch one block.
      tags:
      - Notes
    patch:
      operationId: updateBlock
      parameters:
      - description: Block id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBlockRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Block"
          description: The updated block.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid body or missing id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Block not found.
      summary: Update a block (partial).
      tags:
      - Notes
  /v1/notes/blocks/{id}/move:
    post:
      operationId: moveBlock
      parameters:
      - description: Block id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveBlockRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFlag"
          description: Success ack.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid body or missing id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Block not found.
      summary: Reparent or reorder a block.
      tags:
      - Notes
  /v1/notes/{id}/comments:
    get:
      description: |
        Returns active (non-deleted) comments. When `?accountId=` targets
        an external provider that supports comments (e.g. Notion), the
        provider is queried directly; otherwise the native store is used.
      operationId: listNoteComments
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentListResponse"
          description: Comment list.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing note id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
      summary: List comments on a note.
      tags:
      - Notes
    post:
      operationId: createNoteComment
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCommentRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentMutationResponse"
          description: Comment created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing body or note id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
      summary: Create a comment or reply.
      tags:
      - Notes
  /v1/notes/{id}/comments/{commentId}:
    delete:
      description: |
        Allowed for the comment author and for the note owner.
      operationId: deleteNoteComment
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Comment id.
        explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFlag"
          description: Success ack.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing comment id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is neither the author nor the note owner.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Comment not found.
      summary: Soft-delete (native) or hard-delete (provider) a comment.
      tags:
      - Notes
    get:
      description: |
        Useful for permalink hydration when the renderer deep-links into
        a reply thread.
      operationId: getNoteComment
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Comment id.
        explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentResponse"
          description: Single comment.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing comment id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Comment not found.
      summary: Fetch one comment.
      tags:
      - Notes
    patch:
      description: |
        Only the comment author can edit. The note owner can delete via
        `DELETE` but cannot rewrite.
      operationId: updateNoteComment
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Comment id.
        explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCommentRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentMutationResponse"
          description: Comment updated.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing body or comment id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not the comment author.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Comment not found.
      summary: Edit a comment.
      tags:
      - Notes
  /v1/notes/{id}/share:
    delete:
      description: Owner-only. Subsequent public viewer requests 404.
      operationId: disableNoteShare
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Sharing disabled.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not the note owner.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Note not found.
      summary: Disable public sharing.
      tags:
      - Notes
    get:
      description: |
        Owner-only. Returns the current public-share configuration,
        including the share token and computed public viewer URL when
        the note is currently public.
      operationId: getNoteShareSettings
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareSettings"
          description: Current share settings.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not the note owner.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Note not found.
      summary: Fetch share settings for a note.
      tags:
      - Notes
    post:
      description: |
        Owner-only. Calling with an empty body or `setPassword: false`
        flips the note public without changing the password. With
        `setPassword: true`, applies `password` (empty string clears).
      operationId: enableNoteShare
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnableShareRequest"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareSettings"
          description: Updated share settings.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Password failed strength check.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not the note owner.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Note not found.
      summary: Enable (or update password on) public sharing.
      tags:
      - Notes
  /v1/notes/{id}/share/rotate:
    post:
      operationId: rotateNoteShareToken
      parameters:
      - description: Note id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareSettings"
          description: New share settings (with the new token + URL).
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not the note owner.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Note not found.
      summary: "Rotate the share token, invalidating any outstanding URLs."
      tags:
      - Notes
  /public/notes/{token}:
    get:
      description: |
        Unauthenticated. The share token is the credential. For
        password-protected notes the password is supplied via the
        `?password=` query param; the response distinguishes "no password
        supplied" from "wrong password" so the viewer can render the
        right prompt.

        Unknown tokens and disabled-share notes both return `404` to
        prevent token enumeration.
      operationId: getPublicNote
      parameters:
      - description: Opaque public-share token.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      - description: Optional viewer password.
        explode: true
        in: query
        name: password
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicNoteSnapshot"
          description: Read-only snapshot of the shared note.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing token.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasswordRequiredError"
          description: |
            Password-protected note. `requiresPassword: true` always set;
            `invalidPassword: true` only when a password was supplied
            and rejected.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Token unknown or sharing disabled.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Snapshot rendering failure.
      security: []
      summary: Fetch a publicly shared note.
      tags:
      - Notes
  /v1/sheets:
    get:
      description: |
        Fan-out list. Returns every sheet visible to the caller across
        every connected sheets provider, paginated by `limit` / `offset`.
        Pass `?accountId=` or `?provider=` to scope to a single source.
      operationId: listSheets
      parameters:
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Provider id (e.g. `native-notes`, `notion`). Selects every
          connected account for the provider. Mutually exclusive with
          `accountId`.
        explode: true
        in: query
        name: provider
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SheetListEnvelope"
          description: Fan-out envelope.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resolver or fan-out failure.
      summary: List sheets across connected accounts.
      tags:
      - Sheets
    post:
      description: |
        Creates a new sheet under the target account. Target resolution
        mirrors `POST /v1/notes`: body `accountId` → `?accountId=` →
        body `provider` → `?provider=` → caller's single connected
        account (errors with `ambiguous_account` if more than one is
        connected and no selector is supplied).
      operationId: createSheet
      parameters:
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Provider id (e.g. `native-notes`, `notion`). Selects every
          connected account for the provider. Mutually exclusive with
          `accountId`.
        explode: true
        in: query
        name: provider
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSheetRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sheet"
          description: Sheet created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNote_400_response"
          description: |
            Invalid body, ambiguous account (`code: ambiguous_account`),
            or no sheets provider connected (`code: no_sheets_provider`).
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Provider failure.
      summary: Create a sheet.
      tags:
      - Sheets
  /v1/sheets/{id}:
    delete:
      operationId: deleteSheet
      parameters:
      - description: Sheet id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFlag"
          description: Success ack.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Sheet not found.
      summary: Delete a sheet.
      tags:
      - Sheets
    get:
      operationId: getSheet
      parameters:
      - description: Sheet id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sheet"
          description: The sheet.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNote_400_response"
          description: Missing id or ambiguous account.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Sheet not found.
      summary: Fetch one sheet.
      tags:
      - Sheets
    patch:
      description: |
        Partial update of sheet metadata. The renderer also calls this
        via `PUT /v1/sheets/{id}` for autosave parity; both verbs invoke
        the same handler. Per-cell and per-row mutations live on their
        dedicated endpoints, not here.
      operationId: updateSheet
      parameters:
      - description: Sheet id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSheetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sheet"
          description: The updated sheet.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid body or missing id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Sheet not found.
      summary: Update a sheet (partial).
      tags:
      - Sheets
  /v1/sheets/{id}/rows:
    get:
      description: |
        Single-account row list. Unlike `GET /v1/sheets`, row listing
        always targets the one account that owns the sheet, so the
        response is a plain `{ rows, total }` rather than a fan-out
        envelope.
      operationId: listSheetRows
      parameters:
      - description: Sheet id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RowList"
          description: Row list.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Sheet not found.
      summary: List rows in a sheet.
      tags:
      - Sheets
    post:
      description: |
        Inserts a row at `index` (zero-based) or appends to the end
        when `index` is omitted.
      operationId: createSheetRow
      parameters:
      - description: Sheet id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRowRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Row"
          description: Row created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid body or missing id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Sheet not found.
      summary: Insert a row.
      tags:
      - Sheets
  /v1/sheets/{id}/rows/{rowIndex}:
    delete:
      operationId: deleteSheetRow
      parameters:
      - description: Sheet id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Zero-based row index.
        explode: false
        in: path
        name: rowIndex
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFlag"
          description: Success ack.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing id or invalid row index.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Sheet or row not found.
      summary: Delete a row.
      tags:
      - Sheets
    patch:
      description: |
        Sparse update — keys present in `cells` overwrite that column;
        keys absent are preserved.
      operationId: updateSheetRow
      parameters:
      - description: Sheet id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Zero-based row index.
        explode: false
        in: path
        name: rowIndex
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRowRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Row"
          description: The updated row.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Invalid body, missing id, or invalid row index."
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Sheet or row not found.
      summary: Update a row (sparse).
      tags:
      - Sheets
  /v1/sheets/{id}/rows/{rowIndex}/cells/{column}:
    patch:
      operationId: updateSheetCell
      parameters:
      - description: Sheet id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Zero-based row index.
        explode: false
        in: path
        name: rowIndex
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      - description: |
          Column identifier. Provider-specific — usually a letter (`A`,
          `AB`) for spreadsheet providers or a column key string for
          structured providers.
        explode: false
        in: path
        name: column
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCellRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cell"
          description: The updated cell.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: |
            Invalid body, missing id, invalid row index, or missing
            column.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Sheet, row, or cell not found."
      summary: Update a single cell.
      tags:
      - Sheets
  /v1/slides:
    get:
      description: |
        Fan-out list. Returns every presentation visible to the caller
        across every connected slides provider. Pass `?accountId=` or
        `?provider=` to scope to a single source.
      operationId: listPresentations
      parameters:
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Provider id (e.g. `native-notes`, `notion`). Selects every
          connected account for the provider. Mutually exclusive with
          `accountId`.
        explode: true
        in: query
        name: provider
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PresentationListEnvelope"
          description: Fan-out envelope.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resolver or fan-out failure.
      summary: List presentations across connected accounts.
      tags:
      - Slides
    post:
      description: |
        Creates a new deck under the target account. Target resolution
        mirrors `POST /v1/notes` and `/v1/sheets`: body `accountId` →
        `?accountId=` → body `provider` → `?provider=` → caller's
        single connected account (errors with `ambiguous_account`
        otherwise). The new deck is auto-seeded with one blank slide
        so the renderer has something to display immediately.
      operationId: createPresentation
      parameters:
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Provider id (e.g. `native-notes`, `notion`). Selects every
          connected account for the provider. Mutually exclusive with
          `accountId`.
        explode: true
        in: query
        name: provider
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePresentationRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Presentation"
          description: Presentation created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNote_400_response"
          description: |
            Invalid body, ambiguous account (`code: ambiguous_account`),
            or no slides provider connected (`code: no_slides_provider`).
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Provider failure.
      summary: Create a presentation.
      tags:
      - Slides
  /v1/slides/{id}:
    delete:
      operationId: deletePresentation
      parameters:
      - description: Presentation id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFlag"
          description: Success ack.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Presentation not found.
      summary: Delete a presentation.
      tags:
      - Slides
    get:
      operationId: getPresentation
      parameters:
      - description: Presentation id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Presentation"
          description: The presentation.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNote_400_response"
          description: Missing id or ambiguous account.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Presentation not found.
      summary: Fetch one presentation.
      tags:
      - Slides
    patch:
      operationId: updatePresentation
      parameters:
      - description: Presentation id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePresentationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Presentation"
          description: The updated presentation.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid body or missing id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Presentation not found.
      summary: Update presentation metadata (partial).
      tags:
      - Slides
  /v1/slides/{id}/export/pdf:
    post:
      description: |
        Proxies to the Spatio export sidecar (Playwright). Two response
        modes selected via `?storage=`:

          - `stream` (default) — response body is the PDF binary
            (`application/pdf`).
          - `r2` — uploads the rendered PDF to R2 storage and returns
            a JSON envelope with a 24-hour signed URL.

        Returns `503 Service Unavailable` when the export sidecar is
        not configured (dev fallback to the client-side exporter).
      operationId: exportPresentationPdf
      parameters:
      - description: Presentation id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: storage
        required: false
        schema:
          default: stream
          enum:
          - stream
          - r2
          type: string
        style: form
      - description: Sanitized base name for the downloaded PDF.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportPDFRequest"
        required: false
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                $ref: "#/components/schemas/ExportPDFR2Response"
          description: |
            Either the PDF binary (when `?storage=stream`) or a JSON
            envelope with a signed URL (when `?storage=r2`).
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Missing id, presentation has no slides, or invalid body."
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Export sidecar unreachable or upstream R2 failure.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Export sidecar not configured.
      summary: Render the presentation as a PDF.
      tags:
      - Slides
  /v1/slides/{id}/export/pptx:
    post:
      description: |
        Proxies to the Spatio export sidecar (Playwright + pptxgenjs).
        Each slide is screenshotted at 2× device-pixel ratio and wrapped
        into a PowerPoint .pptx as a full-bleed image. Visual fidelity is
        preserved exactly — what renders in Spatio renders identically in
        PowerPoint, Keynote, Google Slides — at the cost of in-PowerPoint
        editability of slide content. Users edit slide content back in
        Spatio (the source of truth), not inside PowerPoint.

        Two response modes selected via `?storage=`:

          - `stream` (default) — response body is the PPTX binary
            (`application/vnd.openxmlformats-officedocument.presentationml.presentation`).
          - `r2` — uploads the rendered PPTX to R2 storage and returns
            a JSON envelope with a 24-hour signed URL.

        Returns `503 Service Unavailable` when the export sidecar is
        not configured.
      operationId: exportPresentationPptx
      parameters:
      - description: Presentation id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: storage
        required: false
        schema:
          default: stream
          enum:
          - stream
          - r2
          type: string
        style: form
      - description: Sanitized base name for the downloaded PPTX.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportPDFRequest"
        required: false
      responses:
        "200":
          content:
            application/vnd.openxmlformats-officedocument.presentationml.presentation:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                $ref: "#/components/schemas/ExportPDFR2Response"
          description: |
            Either the PPTX binary (when `?storage=stream`) or a JSON
            envelope with a signed URL (when `?storage=r2`).
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Missing id, presentation has no slides, or invalid body."
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Export sidecar unreachable or upstream R2 failure.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Export sidecar not configured.
      summary: Render the presentation as a PowerPoint (.pptx) file.
      tags:
      - Slides
  /v1/slides/{id}/slides:
    get:
      description: |
        Single-account list. Returns slides in the order set by their
        `position` field.
      operationId: listSlidesInPresentation
      parameters:
      - description: Presentation id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlideList"
          description: Slide list.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Presentation not found.
      summary: List slides in a presentation.
      tags:
      - Slides
    post:
      operationId: createSlide
      parameters:
      - description: Presentation id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSlideRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Slide"
          description: Slide created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid body or missing id.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Presentation not found.
      summary: Insert a slide.
      tags:
      - Slides
  /v1/slides/{id}/slides/{slideId}:
    delete:
      operationId: deleteSlide
      parameters:
      - description: Presentation id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Slide id within the presentation.
        explode: false
        in: path
        name: slideId
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Connected-account row id. Selects which provider account this
          request targets when more than one is connected. Mutually exclusive
          with `provider`. If omitted on a list endpoint the call fans out
          across every connected account.
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: |
          Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth
          tokens carry this implicitly; for session/JWT auth without a scoped
          PAT, pass it explicitly.
        explode: false
        in: header
        name: X-Workspace-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessFlag"
          description: Success ack.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Caller is not authenticated.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Slide not found.
      summary: Delete a slide.
      tags:
      - Slides
    get:
      operationId: getSlide
      parameters:
      - description: Presentation id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Slide id within the presentation.
[...]
